# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Django
*.log
db.sqlite3
staticfiles/
media/
staticfiles/

# Environment
.env

# Node / Frontend (Phase 4)
node_modules/
dist/
.vite/
*.local

# Editor
.vscode/
.DS_Store